page-intro {
    .imagem {
        background-color: white;
        margin: auto;
        max-width:250px;
        width: auto;
        height: auto;
        background-image: black;
    }
    .page-intro{
        background-color: black;
        padding: 15px;
    }
    .botaoir{
        background-color: green;
    }
}
