page-compartilhar {
    .tituloprin{
        margin-top: 10px;
        text-align: center;
    }
    .whatsapp{
        background-color: green;
    }
    .email{
        background-color: blue;
    }
    .iconsleft{
        margin-right: 10px;
    }
    .facebook{
        background-color: #3C5A99;
    }
}
